body{
background-position:absolute;
background-attachment: fixed;
background-image: url(Background.webp);
background-size: cover; 
animation: bg 500s infinite linear;
}
@keyframes bg {
    0% {background-position:top right 0% ;}
    100%{background-position:top 750vh right 750vh;}
}